.App {
  text-align: center;
  background-color: #c4c4c4;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.barDiv {
  margin-bottom: 100px;
  margin-top: 50px;
}
.mapDiv {
  /* margin-bottom: 20px; */
  margin-top: 30px;
}
.mapDiv svg {
  margin-bottom: 30px;
}
.logo {
  position: absolute;
  width: 100px;
  margin: 0 0px 0px 10px;
}
